{% extends 'shop/besic.html' %}
{% block title%} Track Your Products {% endblock%}

{% block css%}
<style>
    .container {
        max-width: 960px;
    }

    .lh-condensed {
        line-height: 1.25;
    }

    .form-div {
        border: 2px solid black;
        border-radius: 5px;
        margin-top: 3%;
        padding: 2%;
        color: black;
        background-color: rgba(224, 107, 235, 0.349);
    }

    .by-btn {
        margin-left: 30%;
    }

    .container {
        margin-left: 5%;
    }
</style>


{% endblock %}
{% block body %}

<div class="container">
    <div class="col-md-8 order-md-1 form-div">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback"> Valid first name is required. </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <div class="invalid-feedback"> Valid last name is required. </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="username">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" placeholder="Username" required="">
                    <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                </div>
            </div>



            <div class="mb-3">
                <label for="phone">Phone</label>
                <input type="text" class="form-control " id="phone" placeholder="Enter your phone number" required=""
                    maxlength="10" minlength="10">
                <div class="invalid-feedback"> Please enter your valid phone number. </div>
            </div>



            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control " id="address" placeholder="Enter your email address"
                    required="">
                <div class="invalid-feedback"> Please enter your valid email address. </div>
            </div>


            <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                <div class="invalid-feedback"> Please enter your shipping address. </div>
            </div>

            <div class="mb-3">
                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required="">
                        <option value="">Choose...</option>
                        <option>Chhattisgarh</option>
                        <option>Madhypradesh</option>
                        <option>Odisha</option>
                        <option>Bihar</option>
                        <option>Telangana</option>
                        <option>Aandhra Pradesh</option>
                        <option>Maharastra</option>
                        <option>Uttar Pradesh</option>
                        <option>Jharkhand</option>
                    </select>
                    <div class="invalid-feedback"> Please select a valid state name. </div>
                </div>
                <div class="col-md-4 mb-3">


                    <label for="dist">District</label>
                    <select class="custom-select d-block w-100" id="dist" required="">
                        <option value="">Choose...</option>
                    </select>
                    <div class="invalid-feedback"> Please provide a valid distric ame. </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required="">
                    <div class="invalid-feedback"> Pin code required. </div>
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">
            <button id="check_out" class="btn by-btn btn-primary btn-lg btn-block" type="submit">Continue to
                checkout</button>
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block js %}
<script>

    (function () {
        'use strict'

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())


    //   yaha par state ko change karne par distric ko change karne ka code hai

    const selectElement = document.querySelector('#state');

    selectElement.addEventListener('change', (event) => {
        console.log(event.target.value);
        document.querySelector("#dist").innerHTML = `<option value="">Choose...</option>`
        if (event.target.value == "Chhattisgarh") {
            var cg_dist = ["Balod", "Baloda Bazar", "Balrampur", "Bastar", "Bemetara", "Bijapur", "Bilaspur", "Dantewada (South Bastar)", "Dhamtari", "Durg", "Gariyaband", "Janjgir-Champa", "Jashpur", "Kabirdham (Kawardha)", "Kanker (North Bastar)", "Kondagaon", "Korba", "Korea (Koriya)", "Mahasamund", "Mungeli", "Narayanpur", "Raigarh", "Raipur", "Rajnandgaon", "Sukma", "Surajpur", "Surguja"]
            Array.from(cg_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }
        else if (event.target.value == "Madhypradesh") {
            var mp_dist = ["Agar Malwa", "Alirajpur", "Anuppur", "Ashoknagar", "Balaghat", "Barwani", "Betul", "Bhind", "Bhopal", "Burhanpur", "Chhatarpur", "Chhindwara", "Damoh", "Datia", "Dewas", "Dhar", "Dindori", "Guna", "Gwalior", "Harda", "Hoshangabad", "Indore", "Jabalpur", "Jhabua", "Katni", "Khandwa", "Khargone", "Mandla", "Mandsaur", "Morena", "Narsinghpur", "Neemuch", "Panna", "Raisen", "Rajgarh", "Ratlam", "Rewa", "Sagar", "Satna", "Sehore", "Seoni", "Shahdol", "Shajapur", "Sheopur", "Shivpuri", "Sidhi", "Singrauli", "Tikamgarh", "Ujjain", "Umaria", "Vidisha"]
            Array.from(mp_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }

        else if (event.target.value == "Odisha") {
            var Odisha_dist = ["Angul", "Balangir", "Balasore", "Bargarh", "Bhadrak", "Boudh", "Cuttack", "Deogarh", "Dhenkanal", "Gajapati", "Ganjam", "Jagatsinghapur", "Jajpur", "Jharsuguda", "Kalahandi", "Kandhamal", "Kendrapara", "Kendujhar (Keonjhar)", "Khordha", "Koraput", "Malkangiri", "Mayurbhanj", "Nabarangpur", "Nayagarh", "Nuapada", "Puri", "Rayagada", "Sambalpur", "Sonepur", "Sundargarh"]
            Array.from(Odisha_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }
        else if (event.target.value == "Bihar") {
            var Bihar_dist = ["Araria", "Arwal", "Aurangabad", "Banka", "Begusarai", "Bhagalpur", "Bhojpur", "Buxar", "Darbhanga", "East Champaran (Motihari)", "Gaya", "Gopalganj", "Jamui", "Jehanabad", "Kaimur (Bhabua)", "Katihar", "Khagaria", "Kishanganj", "Lakhisarai", "Madhepura", "Madhubani", "Munger (Monghyr)", "Muzaffarpur", "Nalanda", "Nawada", "Patna", "Purnia (Purnea)", "Rohtas", "Saharsa", "Samastipur", "Saran", "Sheikhpura", "Sheohar", "Sitamarhi", "Siwan", "Supaul", "Vaishali", "West Champaran"]
            Array.from(Bihar_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }
        else if (event.target.value == "Telangana") {
            var Telangana_dist = ["Adilabad", "Bhadradri Kothagudem", "Hyderabad", "Jagtial", "Jangaon", "Jayashankar Bhoopalpally", "Jogulamba Gadwal", "Kamareddy", "Karimnagar", "Khammam", "Komaram Bheem Asifabad", "Mahabubabad", "Mahabubnagar", "Mancherial", "Medak", "Medchal", "Nagarkurnool", "Nalgonda", "Nirmal", "Nizamabad", "Peddapalli", "Rajanna Sircilla", "Rangareddy", "Sangareddy", "Siddipet", "Suryapet", "Vikarabad", "Wanaparthy", "Warangal (Rural)", "Warangal (Urban)", "Yadadri Bhuvanagiri"]
            Array.from(Telangana_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }
        else if (event.target.value == "Aandhra Pradesh") {
            var ap_dist = ["Anantapur", "Chittoor", "East Godavari", "Guntur", "Kadapa (Cuddapah)", "Krishna", "Kurnool", "Prakasam", "Srikakulam", "Sri Potti Sriramulu Nellore", "Visakhapatnam", "Vizianagaram", "West Godavari", "YSR District"]
            Array.from(ap_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }

        else if (event.target.value == "Maharastra") {
            var Maharastra_dist = ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"]
            Array.from(Maharastra_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }

        else if (event.target.value == "Uttar Pradesh") {
            var up_dist = ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi (Chatrapati Sahuji Mahraj Nagar)","Amroha (J.P. Nagar)","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur (Panchsheel Nagar)","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kanshiram Nagar (Kasganj)","Kaushambi","Kushinagar (Padrauna)","Lakhimpur - Kheri","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","RaeBareli","Rampur","Saharanpur","Sambhal (Bhim Nagar)","Sant Kabir Nagar","Shahjahanpur","Shamali (Prabuddh Nagar)","Shravasti","Siddharth Nagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"]
            Array.from(up_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }

        else if (event.target.value == "Jharkhand") {
            var Jharkhand_dist = ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribag","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahibganj","Seraikela-Kharsawan","Simdega","West Singhbhum"]
            Array.from(Jharkhand_dist, function (element) {
                document.querySelector("#dist").innerHTML = document.querySelector("#dist").innerHTML + `<option>${element}</option>`
            });
        }
        else {
            document.querySelector("#dist").innerHTML = `<option value="">Choose...</option>`
        }


    });


</script>
{% endblock %}