{% extends 'shop/besic.html' %}
{% block title%} Your Cart{% endblock%}




{% block css%}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
    .main-box {
        background-color: rgba(95, 158, 160, 0.308);
        /* cadetblue */
    }

    .media-heading a {
        /* color: white; */
        font-weight: bolder;
    }

    tr {
        border-bottom: 1px solid black;
    }
    .navbar-collapse.collapse{
        display: flex;
        justify-content: space-between;

    }
    .navbar-collapse.collapse .btn-outline-success{
        border: 1px green;
    }
    .navbar-collapse.collapse form {
        display: flex;
        width: max-content;
        margin-left: 65%;
        margin-top: 7px;

    }

    #my-input {
        width: auto;

    }
    .braker{
        border-top: 3px solid red;
    }
    .cart-btn-buy{
        margin-top: 10px;
    }
</style>




{% endblock%}



{% block body %}
<!------ Include the above in your HEAD tag ---------->
<div class="container main-box">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    
                    <!-- yaha par rate ka listin suru hota hai jisme price likha hai -->
                    <tr class="braker" >
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Items price:-</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong><span id="item_price">0</span>  &#8377;</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Shipping charge:-</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>60  &#8377;</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong><span id="total_rs"></span>  &#8377;</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="/shop" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                    <!-- price yaha par khatm hota hai  -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    cart = JSON.parse(localStorage.getItem('cart'))
    arr = Object.keys(cart)
    id_box = {}
</script>
{% for item in product%}
<script>
id_box["btn{{item.id}}"] = ["{{item.Product_name}}", "{{item.category}}", "{{item.price}}", "{{item.image}}","{{item.id}}"]
</script>
{% endfor %}
<script>
    kul_rs = 0
    num_itm = JSON.parse(localStorage.getItem('cart'))
    if (arr.length != 0) {
        for(itm in arr){
        value = id_box[arr[itm]]
         total_rs = value[2]*num_itm[arr[itm]]
        kul_rs = kul_rs+total_rs
        cart_itm =`
    <tr> 
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="/media/${value[3]}"> <img class="media-object"
                                        src="/media/${value[3]}"
                                        style="width: 72px; height: auto;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/shop/product/${value[4]}">${value[0]}</a></h4>
                                    <h5 class="media-heading"> from:- <a href="/shop/">${value[1]}</a></h5>
                                    <span>Status: </span><span class="text-warning"><strong>In Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="${num_itm[arr[itm]]}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${value[2]} &#8377;</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${value[2]*num_itm[arr[itm]]} &#8377;</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" id="${arr[itm]}" onclick="my_cart_Function(this.id)"" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                            <button type="button" class="btn cart-btn-buy btn-primary btn-md mr-1 mb-2">Buy Only</button>
                        </td>
                    </tr> 
    `+document.querySelector('tbody').innerHTML
    document.querySelector('tbody').innerHTML = cart_itm
    }}
    else{
        document.querySelector('.container').innerHTML = "You Have No Item in Your Cart"
        main = document.querySelector('.container')
        main.style.color = "blue"
        main.style.fontSize = "70px"
        

    }
    document.getElementById('item_price').innerHTML = kul_rs
    document.getElementById('total_rs').innerHTML = parseInt(kul_rs)+60
    function my_cart_Function(e) {
        idstr = e.toString()
        console.log(idstr);
        cart = JSON.parse(localStorage.getItem('cart'))
        my_cart = { }
        if (cart[idstr] == undefined) {
            cart[idstr] = 1;
            localStorage.setItem('cart', JSON.stringify(cart));
        }
        else {  
            for(key in cart){
                if(key != idstr){
                    my_cart[key] = cart[key] 
                }
            }
            button = document.getElementById(idstr)
           
        localStorage.setItem('cart', JSON.stringify(my_cart));
        }
        // btn()
        update_cart()
        location.reload();
    }
</script>
{% endblock %}