{% extends 'shop/besic.html' %}
{% block title%} Track Your Products {% endblock%}

{% block body %} 


  <div class="box">
    <h1>Trackar me aap sabhi ka hardik seagat hai </h1>      
  </div>


 {% endblock %}

 {% block js%}
 <script>
  var cg_dist = ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada (South Bastar)","Dhamtari","Durg","Gariyaband","Janjgir-Champa", "Jashpur","Kabirdham (Kawardha)","Kanker (North Bastar)","Kondagaon","Korba","Korea (Koriya)","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"]
  Array.from(cg_dist , function(element){
    console.log(element);
  });
 </script>

 {% endblock%}
